# Docker compose file for production
services:

  backend:
    extends:
      file: docker-compose.base.yml
      service: backend
    restart: unless-stopped
    environment:
      FRONTEND_URL: https://explorer.icare4cvd.eu
      VIRTUAL_HOST: api.explorer.icare4cvd.eu
      LETSENCRYPT_HOST: api.explorer.icare4cvd.eu
      VIRTUAL_PORT: 80
    volumes:
      - ./documents_store:/app/documents_store 
      - ./data:/data
      - ./backend/CohortVarLinker/data:/app/CohortVarLinker/data

  frontend:
    extends:
      file: docker-compose.base.yml
      service: frontend
    restart: unless-stopped
    build:
      args:
        - NEXT_PUBLIC_API_URL=https://api.explorer.icare4cvd.eu
    environment:
      VIRTUAL_HOST: explorer.icare4cvd.eu
      LETSENCRYPT_HOST: explorer.icare4cvd.eu
      VIRTUAL_PORT: 3000

  db:
    restart: unless-stopped
    extends:
      file: docker-compose.base.yml
      service: db
    ports:
      - "7878:7878"
    deploy:
      resources:
        limits:
          memory: 4G
          cpus: '2.0'
        reservations:
          memory: 2G
          cpus: '1.0'

  qdrant:
    image: qdrant/qdrant:v1.9.1
    restart: unless-stopped
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data:
